.card {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(27, 27, 27);
  width: 400px;
  height: 400px;
  color: white;
}

img {
  border-radius: 20px;
  object-fit: cover;
}
